<form method="post" action="{{ path('type_chabre_delete', {'id': type_chabre.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_chabre.id) }}">
    <button class="ui button negative">Effacer</button>
</form>
